* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.webp);
  font-family: "Montserrat", system-ui;
}

h1 {
  font-family: 'Pokemon Solid', sans-serif;
  color: #f3ff48;
  text-shadow: 0 5px 1px #580707;
}
